*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.1rem;
  font-family: "Roboto";
  display: grid;
  height: 100vh;
  place-items: center;
  font-weight: 700;
  /* color: #22252d; */
  color: #dcddde;
}

img {
  max-width: 100%;
  display: block;
}
.container {
  background-color: #22252d;
  width: min(80%, 500px);
  display: grid;
  place-items: center;
  border-radius: 25px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.1em;
  align-items: center;
  background-color: #1e2027;
  border-radius: 25px 25px 0 0;
}

.time {
  font-size: 0.95rem;
  margin-left: 1em;
}

.icons {
  width: 30%;
  height: 20px;
  border: 1px solid #fff;
}

.display {
  padding: 6.5em;
  width: 100%;
  background-color: #22252d;
  position: relative;
  display: flex;
  flex-direction: column;
}

.mode-toggle {
  position: absolute;
  align-self: center;
  top: 1em;
  width: 30%;
  max-width: 100px;
  background-color: #22252d;
  border-radius: 10px;
  display: flex;
  gap: 1px;
  overflow: hidden;
}

.mode {
  padding: 0.9em 0;
  height: 100%;
  flex-grow: 1;
  background-color: #292d36;
}

.calculation {
  position: absolute;
  bottom: 4.5em;
  right: 1.7em;
  font-size: 0.95rem;
  color: rgb(168, 168, 168);
}

.result {
  position: absolute;
  right: 0.6em;
  bottom: 0.5em;
  letter-spacing: 1.5px;
  font-size: 2.25rem;
}

.main {
  padding: 1em;
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1em;
  border-radius: 25px;
  overflow: hidden;
  background-color: #292d36;
}

.main div {
  padding: 0.65em 0;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #272b33;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s all ease;
}

.main div:hover {
  background-color: #000;
  color: #fff;
}
.operation {
  color: #dd6162;
}
.function {
  color: #26e0c1;
}
