*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light-theme {
  --bg-primary: #ccc;
  --bg-header: #fff;
  --bg-secondary: #ffffff;
  --color-main: #282c35;
  --bg-main: #f8f8f8;
  --bg-mode: #ececec;
  --bg-btn: #f1f1f1;
  --color-sun: #333333;
  --color-moon: #cecece;
}

.dark-theme {
  --bg-primary: rgb(231, 231, 232);
  --bg-header: #1e2027;
  --bg-secondary: #22252d;
  --color-main: #dcddde;
  --bg-main: #292d36;
  --bg-mode: #292d36;
  --bg-btn: #272b33;
  --color-sun: #5c5d61;
  --color-moon: #dcddde;
}

body {
  font-size: 1.1rem;
  font-family: "Roboto";
  display: grid;
  height: 100vh;
  place-items: center;
  font-weight: 700;
  color: var(--color-main);
  background-color: var(--bg-primary);
}

img {
  max-width: 100%;
  display: block;
}
.container {
  background-color: var(--bg-secondary);
  width: min(80%, 400px);
  display: grid;
  place-items: center;
  border-radius: 25px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.1em;
  align-items: center;
  background-color: var(--bg-header);
  border-radius: 25px 25px 0 0;
}

.time {
  font-size: 0.95rem;
  margin-left: 1em;
}

.icons {
  display: flex;
  gap: 0.5em;
  padding-right: 1em;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8rem;
  width: 30%;
  height: 20px;
}

.display {
  padding: 6em;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.mode-toggle {
  position: absolute;
  align-self: center;
  top: 1em;
  width: 40%;
  max-width: 100px;
  border-radius: 10px;
  display: flex;
  gap: 1px;
  overflow: hidden;
}

.mode {
  display: grid;
  place-items: center;
  padding: 0.9em 0;
  height: 100%;
  flex-grow: 1;
  background-color: var(--bg-mode);
  cursor: pointer;
}

.fa-sun {
  color: var(--color-sun);
}

.fa-moon {
  color: var(--color-moon);
  transform: rotate(-25deg);
}

.calculation {
  position: absolute;
  bottom: 3.75em;
  right: 1.25em;
  font-size: 1.1rem;
}

.result {
  position: absolute;
  right: 0.6em;
  bottom: 0.5em;
  letter-spacing: 1.5px;
  font-size: 2.25rem;
}

.main {
  padding: 1em;
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1em;
  border-radius: 25px;
  overflow: hidden;
  background-color: var(--bg-main);
}

.main div {
  padding: 0.65em 0;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: var(--bg-btn);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s all ease;
}

.main div:hover {
  background-color: #000;
  color: #fff;
}
.operation {
  color: #dd6162;
}
.function {
  color: #26e0c1;
}

.equals {
  color: rgb(255, 153, 0);
}
